
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: darkgray;
}
.calculatorBody{
    position: absolute;
    top: 50%;
    left: 45%;
    right: 45%;
    bottom: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
}
table{
    border-collapse: collapse;
    background-color: yellow;
    box-shadow: darkmagenta;
    border: 2px solid;
    
}
td{
    text-align: center;
    color: darkslategray;
    border: 2px solid rgb(250, 241, 114);

}
input[type="button"]{
    width: 90px;
    height: 80px;
    color: white;
    background-color: black;
    font-size: 2rem;
    border: brown;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}
input[type="button"]:hover{
    background-color: cornflowerblue;
    outline: none;
}
input[type="text"]{
    width: 340px;
    height: 80px;
    background-color:wheat;
    text-align: right;
    margin: 10px;
    padding: 2px;
    outline: none !important;
    border-bottom-left-radius:2px !important;
    font-size: 30px;
}
